/* reset lại CSS */
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

/*
Kỹ năng phân tích website
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông)
*/

html {
    /* scroll-behavior: smooth; la hanh vi khi cuon chuot */
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;

}

/* common */
.clear::after {
    /* khi ta dùng float cho hần tử cha không bao bọc được phần tử con
    Khi một phần tử con được áp dụng float, phần tử cha của nó thường 
    mất khả năng bao bọc chiều cao của phần tử con đó. Điều này xảy ra 
    vì phần tử nổi (floated) không còn nằm trong dòng bình thường của tài 
    liệu, khiến phần tử cha có thể bị "sập" (collapse) và không có chiều cao.*/
    content: "";
    display: block;
    clear: both;
}

.btn {
    
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #ccc;
}

/* row là hàng */
.row {
    margin-left: -8px;
    margin-right: -8px;
}

/* col (column) là cột */
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: calc(100% / 2);
}

.col-third {
    width: calc(100% / 3);
}

.text-white {
    color: white;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.font-size-18 {
    font-size: 18px;
}

/* main */

#main {
    
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* z-index: 1; chỉnh trục Z "có thể hiểu là chỉnh layer giữa các div" */
    z-index: 1;
}


#header .search-icon {
    line-height: 46px;
    float: right;
    padding: 0 26px;
}

#header .search-icon:hover {
    background-color: red;

}

#header .search-icon-sub {
    color: white;
}

.subnav li {
    width: 100%;
}

#nav {
    display: inline-block;
}
.subnav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    /* text-transform: uppercase; viết hoa tất cả text */
    text-transform: uppercase; 
    color: #ffffff;
}

#nav li a {
    /* text-decoration: none; xoá gạch chân của thẻ a */
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    /* display: inline-block; chỉ dùng khi có line-height vì inline-block ăn theo line height */
    display: inline-block; 
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a, 
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav a{
    width: 100%;
    color: #000;
    line-height: 48px;
    padding: 0 16px;
    
}

#nav .nav-arrow-down {
    font-size: 14px;

}

#nav .subnav {
    top: 100%;
    min-width: 160px;
    list-style: none;
    background-color: #fff;
    position: absolute;
    display: none;

    /* code bóng đỗ cho subnav */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/script/assents/img/slider/sl1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    /* transform: translateX(-50%); Căn giữa text khi có position */
    /**/
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    bottom: 47px;
    color: #fff;
    position: absolute;
}

#slider .text-heading {
    /*font-weith giảm độ dày font  */
    font-weight: 500px; 
    font-size: 24px;
    padding: 5px 0;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 20px;
}

#content {

}

#content .content-section {
    width: 800px;

    /*margin left-right: auto; tự căng giữa chữ*/
    margin-left: auto;
    margin-right: auto;

    padding: 64px 0 112px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    /* letter-spacing: 4px; tạo khoảng cách giữa các chữ  */
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
    font-style: italic;
    /* opacity: 60%; giảm độ trong suốt của chữ */
    opacity: 60%;
}

#content .about-text {
    /* text-align: justify; căn điều text 2 bên */
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding-top: 46px;
    overflow: hidden;
}

#content .member-name {
    font-size: 15px;
    margin-bottom: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
}


/* Tour section */
#tour-section {
    background-color: #000;
    height: 800px;
}

#tour-section .content-section {
    color: #fff;
}

#tour-section .ticket-list {
    color: #000;
    background-color: #fff;
}

#tour-section li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}

#tour-section li .sold-out{
    margin-left: 16px;
    background-color: red;
    color: #fff;
    padding: 4px 4px;
}

#tour-section .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;

    /*margin-top: -3px chỉ được dùng -3px khi có float*/
    margin-top: -3px;
}

.places-list {
    /* margin-top: 26px;
    margin-left: -15px;
    margin-right: -18px; */
    margin-top: 32px;
    margin-bottom: 32px;
    padding-bottom: 32px;
}
.places-item {
    width: calc(100% / 3);
}

.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
   opacity: 60%;
}

.places-content {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    color: #000;
    font-weight: 600px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-description {
    margin-top: 15px;
    line-height: 1.4;   
}

.place-buy {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 10px;
    border: none;
}

.place-buy:hover {
    background-color: #ccc;
    color: #000;
}


/*---------------*/

/* contact-form */
.contact-form {
    margin-top: 70px;
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.contact-info {
    font-size: 18px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
    line-height: 1.5;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.contact-form .form-submit {
    float: right;
    background-color: #000;
    padding: 13px 22px;
    border: none;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list a {
    color: #000;
    opacity: 60%;
    text-decoration: none;
}

#footer .social-list a:hover {
    opacity: 50%;
    cursor: pointer;
}

#footer .end-footer, .end-footer a {
    color: #000;
    opacity: 60%;
}

#footer .end-footer a:hover {
    opacity: 50%;
    cursor: pointer;
}   

#footer .social-list {
    margin-bottom: 16px;
}

.map-section img{
    width: 100%;
}

.modal.open {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
}

.modal-container {
    background-color: #fff;
    width: 550px;
    /* max-width: calc(100% - 32px); khi co trình duyệt modal sẽ không bị dính vào viền của tình duyệt
    nó sẽ cách 1 khoảng với viền của trình duyệt là 32px */
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;

    /* làm animation có tên là modalFadeIn */
    animation: modalanimation 0.4s;
}

@keyframes modalanimation {
    0% {
        top: -300px;
        opacity: 0;
    }
    
    100% {
        top: 0;
        opacity: 1;
    }
}

.modal-heading-icon {
    margin-right: 16px;
}

header.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.modal-close:hover {
    background-color: red;
    opacity: 1;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body {
    padding: 16px;
}

.modal-label {  
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 12px;
}

#by-tickets:hover {
    opacity: 80%;
}

#by-tickets {
    cursor: pointer;
    width: 100%;
    height: 54px;
    background: #009688;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.modal-footer {
    padding: 10px;
    text-align: right;
}

.modal-footer a {
    color: #2196f3;
}

